{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "screeps/screeps": true
  },
  "plugins": [
    "screeps"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["off"]
  }
}
